<div class="container well">
    <div class="visible-md visible-lg">
        <div class="row">

            <div class="jumbotron">

                <img src="resources/img/apica.png" width="40%" style="float: left" class="visible-md-block visible-lg-block" />
                <p><h1 class="special-title">TicketMonster.</h1></p>
                <p><h1 class="special-title">Apica Demo Site</h1></p>
                <p>
                    TicketMonster is an online ticketing demo application that gets you started with
                    JBoss technologies, and helps you learn and evaluate them.
                    Teamcity test.
                </p>

                <p><a class="btn btn-primary" href="#events">Buy tickets now</a></p>
            </div>
        </div>
       

</div>
